<!DOCTYPE html>
<html>
<head>
<title>Anukriti</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
</head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Recognition</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img class="w3-image" src="/w3images/london2.jpg" alt="London" width="1500" height="700">
  <div class="w3-display-middle" style="width:65%; top:128px !important";>
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Home');">Home</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'About');">About us</button>
    </div>

    <!-- Tabs -->
    <div id="Home" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Enter Id to detect your face </h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>ID</label>
          <input class="w3-input w3-border" type="text" placeholder="Please enter your Id">
        </div>
        <div class="w3-half">
          <label>Name</label>
          <input class="w3-input w3-border" type="text" placeholder="Please enter your name">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Start face recognition</button></p>
    </div>

    <div id="About" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Developer: Anukriti Bhardwaj</h3>
      <p>Computer Science Engineer</p>
      <p>anukritibhardwaj3@gmail.com</p>
      <p><button class="w3-button w3-dark-grey">Contact</button></p>
    </div>

  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

  
  <!-- Contact -->
  <div class="w3-container" style="margin-top: 350px;">
    <h2>Contact</h2>
    <p>Let us make your organization safer!</p>
    <i class="fa fa-map-marker" style="width:30px"></i> Ghaziabad, UP<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: anukritibhardwaj3@gmail.com<br>
  </div>
  
<!-- End page content -->
</div>

<script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>

</body>
</html>
